name: release

on:
  push:
    tags:
      - v*

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check direct push
        run: |
          VERSION_FILE_PATH="internal/index/version.txt"
          if ! grep -q "${TAG/v/}" "$VERSION_FILE_PATH"; then
            echo "error: scip-go version in $VERSION_FILE_PATH doesn't match NEW_VERSION=$NEW_VERSION"
            exit 1
          fi
        env:
          TAG: ${{ github.ref_name }}
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.19.x
      - uses: azure/docker-login@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
